{% extends 'base.html' %}

{% block title %}Herbs List{% endblock %}

{% block content %}
    <h1>Herbs</h1>
    <div class="row">
        {% for herb in herbs %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ herb.name }}</h5>
                    <!-- Shortened description -->
                    <p class="card-text">{{ herb.description|truncatechars:100 }}</p>

                    <h6>Medicinal Uses:</h6>
                    <ul>
                        {% for use in herb.herbmedicinaluse_set.all %}
                            <li>{{ use.medicinal_use.name }}</li>
                        {% endfor %}
                    </ul>

                    <a href="{% url 'herb_detail' herb.id %}" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}