{% extends 'base.html' %}

{% block title %}Home - Herb App{% endblock %}

 <!-- OpenGraph Meta Tags -->
 {% block head %}
 <meta property="og:image" content="/static/images/default-ogimage.jpg">
 <meta property="og:title" content="The Herb App">
 <meta property="og:description" content="Default description for the site.">
 {% endblock %}

{% block content %}
    <h1 class="text-center">Welcome to the Herb App</h1>
    <p class="lead text-center">Explore a comprehensive database of medicinal and culinary herbs.</p>
    <div class="text-center">
        <a href="{% url 'herb_list' %}" class="btn btn-primary">View Herbs</a>
    </div>
    <br>
    <div class="text-center">
        <a href="{% url 'medicinal_use_list' %}" class="btn btn-primary">View Medicinal Uses</a>
    </div>
    <br>
    <div class="text-center">
        <a href="{% url 'recipe_list' %}" class="btn btn-primary">View Recipes</a>
    </div>
{% endblock %}